@media (min-width:0px){
    .animate {
        background-color: darkgreen;
        height: 130px;
        width: 100%;
        .textanimate {
            font-size: 50px;
            text-align: center;
            color: white;
            padding-top: 25px;
        }
    }


    .doble{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
        .card{
            display: flex;
            flex-direction: column;
            border: 20px;
            margin: 10px;
        }
        .expfooter {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 6px;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 5px;
            .expfooter {
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 6px;
                padding-left: 50px;
                padding-right: 50px;
                padding-bottom: 5px;
            }
        }
    }

    .triple{
        display: none;
    }
}


@media (min-width:576px) {
    .doble{
        display: none;
    }

    .triple{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
        .card{
            display: flex;
            flex-direction: column;
            border: 20px;
            margin: 10px;
        }
        .expfooter {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 6px;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 5px;
            .expfooter {
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 6px;
                padding-left: 50px;
                padding-right: 50px;
                padding-bottom: 5px;
                .expfooter {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-radius: 6px;
                    padding-left: 50px;
                    padding-right: 50px;
                    padding-bottom: 5px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .animate {
        height: 220px;
        .textanimate {
            font-size: 100px;
            text-align: center;
            color: white;
            padding-top: 30px;
        }
    }
}