*{
padding: 0;
margin: 0;
}

body{
    color: black;
}

header{
    color: black;
    background-color:rgb(255, 217, 0);
    margin-top: 0;
}

.container-fluid{
    background-color:rgb(255, 217, 0) ;
}

.navbar-brand{
    padding:0.5%
}

.navbar{
    padding-top: 0%;
    padding-bottom: 0%;
}

.transf:hover{
    transform: scale(2);
    transition: all 2s;
}

.row{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
    position: sticky;
    top: 0%;
    margin-top:  0px;
    margin-left: 200px;
    margin-right: 200px;
}

.row--hab{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:5px ;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}
.row__dis--hab{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:5px ;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.comodidades{
    display: flex;
    margin: 5px;
    padding: 5px;
}

.card{
    display: flex;
    margin-top: 30px;
}

.tarifa{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}

.finale{
    margin-bottom: 30px;
}

section{
    color: black;
    padding: 40px;
    display: grid;
    grid-template-rows: 25fr 75fr 25fr 75fr 25fr 75fr;
}

.introducion__h1{
    color: black;
    padding: 50px;
}

.introducion__p{
    color: hotpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form__h1{
    position: relative;
    bottom: 70px;
}

footer{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: darkgreen;
    padding:30px;
    margin-bottom: 0;
}

.form__footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    background-color:darkgreen;
    padding: 30px;
    padding-bottom: 0px;
    border: 30px solid rgb(255, 217, 0);
}

.p__footer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: white;
}

.experiencias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: aqua;
    padding: 0px;
    margin: 0px;
}