*{
padding: 0px;
margin: 0px;
}

sectionindex{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack:center;
    align-items: center;
}

body{
    color: black;
}

header{
    color: black;
    background-color:rgb(255, 217, 0);
    margin-top: 0;
}

.container-fluid{
    background-color:rgb(255, 217, 0) ;
}

.navbar-brand{
    padding:0.5%
}

.navbar{
    padding-top: 0%;
    padding-bottom: 0%;
}

.transf:hover{
    transform: scale(2);
    transition: all 2s;
}

.img-fluid{
    height: 100%;
    width: 100%;
}

.row{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
    position: sticky;
    top: 0%;
    margin-top: -45px;
    margin-left: 200px;
    margin-right: 200px;
}

.row--hab{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}
.row__dis--hab{
    display: flex;
    margin-left: 130px;
    margin-right: 130px;
    margin-top:5px ;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 8px;
}

.comodidades{
    display: flex;
    margin: 5px;
    padding: 5px;
}

.card{
    display: flex;
    margin-top: 30px;
}

.tarifa{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}

.finale{
    margin-bottom: 30px;
}

.historia{
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.distinguir{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

.distinguidos{
    display: flex;
    flex-direction: column;
    border: 20px;
    margin: 5px;
}

.introducion__p{
    color:rgb(161, 160, 160);
}

.form__h1{
    position: relative;
    bottom: 70px;
}

footer{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: darkgreen;
    padding:30px;
    margin-bottom: 0;
}

.form__footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    background-color:darkgreen;
    padding: 30px;
    padding-bottom: 0px;
    border: 30px solid rgb(255, 217, 0);
}

.p__footer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    color: white;
}

.animate{
    background-color: darkgreen;
    height: 220px;
    width: 100%;
}

.textanimate{
    font-size: 90px;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.experiencias{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

.expfooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 5px;
}

.separador{
    padding-top: 30px;
}